body {
    background-color: rgb(220, 220, 220);
    font-family: monospace;
}

h1 {
    color:rgb(77, 77, 77)
}

.container {
    margin-top: 20px;
    display: grid;
    /* grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr); */
    background-color: aqua;
    height: 500px;
    width: 500px;
    border: 5px solid rgb(77, 77, 77);
    border-radius: 5px;
}

.container > div {
    display: grid;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(77, 77, 77);
    
}



input {
    width: 4rem;
}

